body {
    background-color: #9bb3d0;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(16, 38, 60);
    text-align: center;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

p {
    color: rgb(24, 51, 77);
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}
img {
    width: 300px;   
    height: auto;
}